extends ../layout

block content
  h1= title
  p 
    | Are you sure you want to delete 
    em= dogPost.title
    | ?
  form(action="/dogpost/" + DogPost.id + "?_method=DELETE", method="post")
    a(href="/dogpost/" + DogPost.id) No! Take me back!
    | 
    input(type="submit", value = "Yes, I am")