extends ../layout

block content
  h1= title
  p Listing all articles
  p
    a(href="/DogPost/new") Create New DogPost
  
  each DogPost in Dogposts
    h2= DogPost.title
    p= DogPost
    a(href = "/DogPost/" + DogPost.id) Read More &rarr;