<!DOCTYPE html>
<html>
	<head>
	   
	   <title>EAT</title>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    	<link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
   	    <link rel="stylesheet" type="text/css" href="assets/style.css">
	   
	</head> 
<body>

	
	 	<div class="row">
            <div class="large-6 large-2 columns"></div>
            <div class="large-6 large-8 columns"></div>
            <div class="large-12 large-2 columns">
              <img class="topImage" src="assets/puppachino.jpeg">
            </div>
          </div>
	

	<div class="callout primary">
	  <h5>We LOVE DOGS</h5>
	  <p>Vegan Food</p>
	  <a href="#0">Carlsbad, Ca</a>
	</div>

	<div class="callout success">
	  <h5>Doggie Spot</h5>
	  <p>Indian Food</p>
	  <a href="#0">San Diego, Ca</a>
	</div>

	<div class="callout warning">
	  <h5>Sit Eat Stay</h5>
	  <p>Italian Food</p>
	  <a href="#0">Point Loma, Ca</a>
	</div>

	<div class="callout primary">
	  <h5>Yummy Pup Spot</h5>
	  <p>Hamburgers</p>
	  <a href="#0">San Diego, Ca</a>
	</div>

	<div class="callout success">
	  <h5>Bring the pup</h5>
	  <p>Pizza</p>
	  <a href="#0">San Diego, Ca</a>
	</div>


		<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
		<script src="https://cdn.jsdelivr.net/foundation/6.2.4/foundation.min.js"</script>
</body> 
</html>
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
   
